/**
 * Global
 */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color:#faf9f6; /* #f3f2ec; */
}

* {
  box-sizing: border-box;
}

/**
 * Welcome desk
 */
/** frames */
body.split {
  overflow-y: hidden;
}

#win {
  height: 100%;
}

#middle {
  display: flex;
  flex-direction: row;
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
}

/** The split gutters */
.gutter {
  border-color: #ccccd5;
  border-width: 1px;
}

.gutter-horizontal {
  width: 6px;
  cursor: col-resize;
  height: 100%;
  border-style: none solid none solid;
}

.gutter-vertical {
  height: 6px;
  cursor: ns-resize;
  border-style: solid none solid none;
  text-align: center;
}

.gutter.but {
  background: #FFFFFF;
  color: #000;
  font-size: 10px;
  position: relative;
  cursor: pointer;
  border: #CCCCD5 1px solid;
}

.gutter.but:hover {
  background: #CCCCD5;
  color: #FFFFFF;
}

.gutter.but.closed {
  background: #888;
  color: #FFFFFF;
}

.gutter.but.closed:hover {
  background: #FFFFFF;
  color: #000;
}

.gutter.but.horizontal {
  margin-left: -2px;
  padding-top: 2em;
  padding-bottom: 2em;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.gutter.but.horizontal:after {
  content: '▶';
}

.gutter.but.horizontal.closed:after {
  content: '◀';
}

.gutter.but.horizontal.first:after {
  content: '◀';
}

.gutter.but.horizontal.first.closed:after {
  content: '▶';
}

.gutter.but.vertical {
  padding-left: 2em;
  padding-right: 2em;
  bottom: 10px;
}

.gutter.but.vertical.first:after {
  content: '▲';
}

.gutter.but.vertical.first.closed {
  bottom: 6px;
}

.gutter.but.vertical.first.closed:after {
  content: '▼';
}

.gutter.but.vertical.last:after {
  content: "▼";
}

.gutter.but.vertical.last.closed {
  bottom: 12px;
}

.gutter.but.vertical.last.closed:after {
  content: '▲';
}

/**
 * Search results
 */
body.results {
  background: #FFFFFF;
}

#results {
  max-width: 100ex;
  margin-left: auto;
  margin-right: auto;
  padding: 2em 0;
}
article.hit {
  padding-top: 1em;
}

article.hit .bibl {
  font-size: 108%;
  line-height: 115%;
  color: #675344;
}
article.hit .surname {
  font-variant: small-caps;
  font-size: 110%;
  font-weight: bold;
}
article.hit .title {
  font-style: italic;
}
article.hit p.frags {
  line-height: 130%;
  margin: 0;
  text-indent: 0;
  padding: 0 0 0 2em;
  text-align: justify;
}
/**
 * Word cloud
 */
body.cloud {
  background: #F0F8FF;
  padding: 25px;
}

#wordcloud2 {
  height: 100%;
}

#wordcloud2 a {
  color: #887;
  text-decoration: none;
  line-height: 0.8em;
  /* padding: 0 0.5ex; */
}

#wordcloud2 .SUB {
  color: #000033;
}

#wordcloud2 .ADJ {}

#wordcloud2 .VERB {}

#wordcloud2 .ADV {}

#wordcloud2 .NAME {
  color: #FF0000;
  font-family: serif;
}

/**
 * Dygraph (chronology)
 */
/** Chart in chrono */
body.chrono {
  padding-bottom: 4em;
  overflow-y: hidden;
}

#chart {
  font-family: sans-serif;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
}

.dygraph-annotation, .dygraph-legend {
  overflow: hidden
}

.dygraph-legend {
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  pointer-events: none;
  font-size: 14pt !important;
  line-height: 100%;
  left: 4em !important;
  top: 2em !important;
  font-size: 14px;
  z-index: 10;
  width: 250px;
  background: #fff;
  line-height: normal;
  text-align: left;
  padding: 4px;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 4px 4px 4px #888;
}

.dygraph-legend-dash, .dygraph-legend-line {
  display: inline-block;
  position: relative;
  bottom: .5ex;
  height: 1px;
  border-bottom-width: 2px;
  border-bottom-style: solid
}

.dygraph-legend-line {
  padding-left: 1em
}

.dygraph-annotation, .dygraph-roller {
  position: absolute;
  z-index: 10
}

.dygraph-default-annotation {
  border: 1px solid #000;
  background-color: #fff;
  text-align: center
}

.dygraph-axis-label {
  z-index: 10;
  line-height: normal;
  overflow: hidden;
  color: #000
}

.dygraph-axis-label-x {
  font-size: 12pt;
}

.dygraph-title {
  color: #000;
  padding-top: 3px;
  font-weight: 100;
  z-index: 10;
  text-align: center
}

.dygraph-label {
  color: #999;
  font-size: 25px;
}

.dygraph-xlabel {
  text-align: center
}

.dygraph-label-rotate-left {
  text-align: center;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg)
}

.dygraph-label-rotate-right {
  text-align: center;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg)
}

/**
 * Old stuf to refactor
 */
nav.menu {
  background-color: #ffffff;
  left: 0;
  padding: 0 1ex;
  position: absolute;
  right: 0;
  top: 0;
  font-family: sans-serif;
}

nav a {
  color: #999;
  text-decoration: none;
}

div.text {
  margin: 1em 2em 0 2em;
  max-width: 60ex;
}

div.text p {
  text-align: justify;
}

select, button {
  font-size: 18px;
  font-family: sans-serif;
}

button.but {
  line-height: 110%;
}

textarea {
  border: none;
}

section:after, section:before, form:after, form:before, .bar:after, .bar:before {
  content: " ";
  visibility: hidden;
  display: block;
  clear: both;
  height: 0;
}

/*
table.scroll tbody{display:block; height:200px; overflow-y:auto;}
table.scroll thead td, table.scroll thead th {float:left;}
*/
table.scroll tbody th {
  border-top: 20px solid #f3f2ec;
}

table.lem {
  font-family: sans-serif;
  border-collapse: collapse;
  border: 2px solid #FFFFFF;
}

table.lem td {
  padding: 0 1ex;
  border-top: 1px solid #FFFFFF;
}

.board {
  color: rgba(0, 0, 0, 0.7);
  height: 80%;
  bottom: 0;
  font-size: 18px;
  text-align: center;
  position: relative;
}

.board .l, .board .c, .board .r {
  display: block;
  position: absolute;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 1ex;
  z-index: 2;
}

.board .l {
  text-align: left;
  border-left: 1px solid #F00;
  margin-right: auto;
}

.board .c {
  text-align: center;
  transform: translate(-50%, 0);
}

.board .r {
  text-align: right;
  border-right: 1px solid #F00;
  margin-left: auto;
}

.rule {
  border-bottom: 1px solid #000000;
  position: sticky;
  top: 10px;
  width: 100%;
  clear: both;
}

.rule .title {
  font-size: 25px;
  color: rgba(255, 0, 0, 0.5);
  margin: 2em 1em;
}

.rule .l, .rule .c, .rule .r {
  position: absolute;
  background: transparent;
  padding: 0 0.5ex;
}

.rule .r {
  text-align: right;
  border-right: 1px solid #000;
}

.rule .l {
  text-align: left;
  border-left: 1px solid #000;
}

.rule .c {
  text-align: center;
}

.grid, .grid div {
  position: absolute;
  border-left: 1px dotted rgba(0, 0, 0, 0.2);
  border-right: 1px dotted rgba(0, 0, 0, 0.2);
  height: 100%;
}

.bar {
  text-align: left;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 1;
}

table.conc {
  font-family: sans-serif;
  color: #666;
  border-spacing: 2px;
  background-color: #EEEEEE;
}

.conc td, .conc th {
  padding: 0;
}

td.num {
  font-size: 70%;
}

td.left {
  text-align: right;
}

.left b {
  padding: 0 1ex;
  margin-left: 1ex;
}

.right b {
  padding: 0 1ex;
  margin-right: 1ex;
}

.conc b {}

.conc p {
  color: #666;
}

div.conc {
  width: 100ex;
  text-align: left;
}

.conc mark, .conc .line {
  color: #000;
  background-color: #FFFFFF;
  padding: 2px 1ex;
  font-size: 110%;
  display: block;
  text-align: center;
}

.conc i {
  font-style: normal;
  color: red;
}

.conc p {
  margin: 0.5ex 0;
  padding: 0.5ex 0;
  border-bottom: 1px solid #FFFFFF;
}

.bg-10 {
  background: #A00 !important;
  color: #FFF !important;
}

.bg-9 {
  background: #C00 !important;
  color: #FFF !important;
}

.bg-8 {
  background: #F00 !important;
  color: #FFF !important;
}

.bg-7 {
  background: #F22 !important;
  color: #FFF !important;
}

.bg-6 {
  background: #F44 !important;
  color: #FFF !important;
}

.bg-5 {
  background: #F66 !important;
}

.bg-4 {
  background: #F88 !important;
}

.bg-3 {
  background: #FAA !important;
}

.bg-2 {
  background: #FCC !important;
}

.bg-1 {
  background: #FEE !important;
  color: #000 !important;
}

.bg0 {
  background: #FFF !important;
  color: #000 !important;
}

.bg1 {
  background: #EEF !important;
  color: #008 !important;
}

.bg2 {
  background: #CCF !important;
}

.bg3 {
  background: #AAF !important;
}

.bg4 {
  background: #88E !important;
}

.bg5 {
  background: #66D !important;
}

.bg6 {
  background: #44C !important;
  color: #FFF !important;
}

.bg7 {
  background: #22C !important;
  color: #FFF !important;
}

.bg8 {
  background: #00C !important;
  color: #FFF !important;
}

.bg9 {
  background: #00A !important;
  color: #FFF !important;
}

.bg10 {
  background: #008 !important;
  color: #FFF !important;
}

ul.menu li {
  margin: 0.5ex 0;
  font-size: 150%;
}

#totop {
  position: fixed;
  bottom: 1ex;
  right: 1ex;
  color: rgba(0, 0, 0, 0.3);
}

input.off {
  background-color: red;
}

input.on {
  background-color: #00CC00;
}

/**
 * Word nets
 */
svg.scatter {
  width: 100%;
  background: #FFFFFF;
}

svg.scatter line.dot {
  stroke: #000;
  stroke-width: 100;
  stroke-linecap: round;
  cursor: pointer;
}

svg.scatter .dot {}

svg.scatter .dot circle {
  stroke: #FFF;
  fill: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

svg.scatter .dot text {
  font-size: 0pt;
}

svg.scatter .dot:hover text {
  font-size: 100pt;
}

svg.scatter .sub circle {
  fill: rgba(0, 0, 128, 0.3)
}

svg.scatter .name circle {
  fill: rgba(0, 128, 0, 0.2)
}

svg.scatter .verb circle {
  fill: rgba(255, 0, 0, 0.2)
}

svg.scatter .adj circle {
  fill: rgba(0, 92, 128, 0.2)
}

svg.scatter .adv circle {
  fill: rgba(255, 128, 0, 0.2)
}

div.scatter {
  width: 100%;
  padding: 3rem 2rem 3rem 3.5rem;
  background-color: #FFFFFF;
  position: relative;
}

div.scatter .title {
  position: absolute;
  z-index: 2;
  top: 2rem;
  left: 25%;
  padding: 5px;
  background-color: #FFFFFF;
  color: #888;
  font-size: 200%;
  font-weight: bold;
}

div.scatter .xleg {
  position: absolute;
  z-index: 2;
  bottom: 0.5rem;
  right: 1rem;
}

div.scatter .yleg {
  position: absolute;
  z-index: 2;
  top: 0.5rem;
  left: 1rem;
}

div.scatter div.legend {
  position: absolute;
  top: 3rem;
  right: 3rem;
  border: 1px #CCC solid;
  background: rgb(255, 255, 255, 0.8);
  z-index: 5;
}

div.scatter .dots {
  position: relative;
  height: 600px;
}

div.scatter .ygrid {
  position: absolute;
  border-bottom: 0.5px #CCCCCC solid;
  font-size: 10pt;
  color: #999;
  line-height: 90%;
  left: -2.5rem;
  right: 0;
  padding-left: 0.5rem;
}

div.scatter .xgrid {
  position: absolute;
  border-left: 0.5px #CCCCCC solid;
  top: -1rem;
  bottom: -1.5rem;
  font-size: 10pt;
  color: #999;
  line-height: 90%;
}

div.scatter .xgrid span {
  bottom: 0%;
  position: absolute;
}

div.scatter .xgrid.last {
  border-right: 2px #CCC solid;
}

div.scatter .xgrid.first {
  border-left: 2px #CCC solid;
}

div.scatter .xgrid.mod10 {
  border-left: 1px #000 solid;
}

div.scatter .xgrid.mod10 span {
  font-weight: bold;
}

div.scatter .xgrid.even span {
  display: none;
}

div.scatter div.dot {
  position: absolute;
  border: 1px transparent solid;
  cursor: default;
  padding: 0 3px 0 0;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}

div.scatter div.dot:hover {
  z-index: 9;
  border: 1px #CCC solid;
  background-color: rgb(255, 255, 255, 0.8);
}

div.scatter div.dot span {
  display: none;
}

div.scatter div.dot:hover span {
  display: inline;
}

div.scatter div.dot b {
  color: rgba(128, 128, 128, 0.2);
  font-size: 200%;
  line-height: 40%;
  vertical-align: middle;
  font-family: sans-serif;
}

div.scatter div.sub b {
  color: rgba(0, 0, 128, 0.3)
}

div.scatter div.name b {
  color: rgba(0, 128, 0, 0.2)
}

div.scatter div.verb b {
  color: rgba(255, 0, 0, 0.2)
}

div.scatter div.adj b {
  color: rgba(0, 128, 255, 0.2)
}

div.scatter div.adv b {
  color: rgba(255, 128, 0, 0.2)
}

div.scatter div.legend div.dot {
  position: static;
  transform: none;
}
