@charset "UTF-8";

/**
 * colors and fonts
 * blue: 1a1a80  rgba(26, 26, 128, 1)
 * greige: #faf9f6
 * greige2: #E2DED0;
 * lines: #92897F rgb(146,137,127) hsl(32, 8%, 54%)
 * brown:
 * orange: #ea5b0c; rgb(234, 91, 12);
 */
body,
select,
#header .base mark {
  font-family: "Open Sans", "Ubuntu", "Calibri", "Segoe UI", Avenir, Helvetica, sans-serif;
}

button {
  font-family: "Arial", sans-serif;
}

#header .base {
  font-family: "Times New Roman", Times, serif;
}

body.facet a span {
  font-family: "Arial Narrow", sans-serif;
}

#tabs a,
#tabs button {
  font-family: Arial, sans-serif;
}

body,
.biflex,
.gutter.but {
  background-color: #faf9f6;
}

body.document #qform,
body.comp #qform {
  background-color: hsla(45, 29%, 90%, 0.5);
}

::-webkit-scrollbar {
  background: #faf9f6;
}

::-webkit-scrollbar-thumb {
  background: #92897F;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #92897F #faf9f6;
}

.gutter.but {
  color: #92897F;
}

#chapters a:hover,
.gutter {
  background: #E1DDCF;
}

header.biblbar {
  background-color: #92897F;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0px 3px 2px 1px rgba(146, 137, 127, 0.5);
}

header.biblbar,
header.biblbar a {
  color: #FFFFFF;
}

header.biblbar a:hover {
  color: #000;
}

header.biblbar table {
  border: none;
}

button {
  color: #444;
}

button,
select:hover,
select:focus,
details,
#tabs a,
#tabs button,
.marginnote,
.gutter.but {
  border-color: #c3b7aa;
}

header {
  border-color: #FFFFFF;
}

::-moz-selection {
  /* let it alone for Chrome */
  background: rgba(120, 105, 101, 0.8);
  color: #FFFFFF;
}

#tabs button.here,
#tabs a.here {
  background: rgba(120, 105, 101, 0.8);
  color: #FFFFFF;
}

#tabs button:hover,
#tabs a:hover {
  background: hsl(31, 17%, 80%);
}

::selection {
  background: rgba(120, 105, 101, 0.8);
  color: #FFFFFF;
}

mark {
  background: transparent;
}

mark:target {
  border: none;
  color: #000;
  background: rgba(234, 91, 12, 0.2);
}

mark:target b {
  /*
  outline: #ea5b0c solid 1px;
  outline-offset: 2px;
  */
}

input[type=text]:focus,
textarea:focus {
  box-shadow: 0 0 5px rgba(42, 45, 84, 0.7);
}

#header .base mark,
#rulhi {
  border-color: rgba(146, 137, 127, 0.3);
}

a {
  color: #1a1a80;
}

.keywords a,
details,
h1,
h2,
h3,
h4,
select,
body.facet,
.sortable caption,
.hit .bibl a {
  color: rgb(120, 105, 101);
}

a:hover,
#gotop:hover,
div.term a:hover,
#q,
.mark,
article.res mark,
table.sortable th,
button.magnify,
a.reset,
.sortable td.title a:hover,
article.res header a:hover, /* title in short result */
article.res div.line a, /* pivot word in kwic */
#chapters mark, /* hilite in chapter research */
a.delete,
body.facet .active,
h4 .occs,
.term .occs {
  color: #ea5b0c;
}

select {
  background-color: #FFFFFF;
}

#ruloccs a {
  background-color: rgba(120, 105, 101, 0.2);
}

#ruloccs a:hover {
  background-color: rgba(120, 105, 101, 1);
}

#ruloccs {
  background-color: rgba(255, 255, 255, 0.7);
}

.keywords a,
.mark a.prev,
.mark a.next {
  rgba(128, 70, 13, 0.5);
}

/**
 * Global styling
 */
#header form {
  width: 80%;
  margin-left: calc(15vw + 100px);
}

input.start,
input[type=text] {
  -webkit-appearance: none;
  outline: none;
  font-size: 120%;
  margin: 1px;
  outline: 1px solid #CCC;
  border: none;
  border-width: 1px;
}

input.start {
  text-align: right;
}


#q {
  font-size: 1.3rem;
  padding: 2px 1rem;
  font-weight: bold;
  min-width: 8rem;
  max-width: 60rem;
  width: 90%;
}

main {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

main.right {
  margin-right: 2rem;
}

main.left {
  margin-left: 2rem;
}

/**
 * Default
 */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body, body main {
  position: relative;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  background-color: transparent;
  text-decoration: none;
}

a:focus, a:active {
  outline: unset;
}

button {
  cursor: pointer;
  outline: unset;
  padding: 0.1em 0.3em;
  margin: 0 2px 0 0;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}

button.magnify {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

button:hover {
  background-color: #FFFFFF;
}

details {
  padding: 0 0.5rem 2px 0.5rem;
  border-style: solid;
  border-width: 1px;
}

[type=checkbox] {
  margin: 0;
  padding: 0;
}

::-moz-placeholder, ::-webkit-input-placeholder {
  /* does not work */
  font-style: italic;
  font-weight: 100;
  color: #999;
  font-size: 1rem;
}

::-ms-input-placeholder {
  font-style: italic;
  color: #999;
}

body > header {
  border-width: 2px;
  padding-bottom: 1rem;
  border-bottom-style: solid;
  padding: 0 1rem 0 1rem;
}

input.year {
  width: 10ex;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  line-height: 1.2em;
  font-size: 16px;
  font-weight: 700;
  padding: 0 1.5em 0 1ex;
  margin: 0;
  border-width: 1px;
  border-style: solid;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
  border-radius: .5rem;
  background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='25px' width='16px'><text x='0' y='20' font-size='20' fill='rgb(120, 105, 101)'>▼</text></svg>");
  /* , linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%) %2380460d */
  ;
  background-repeat: no-repeat, repeat;
  background-position: right 0.4em top 50%, 0 0;
  background-size: auto 1em;
}

select::-ms-expand {
  display: none;
}

select:hover {
  border-color: #888;
}

select:focus {
  border-color: #aaa;
  /*
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  */
  outline: none;
}

select:after {
  content: "▼";
}

select option {
  font-weight: normal;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

summary {
  outline: unset;
  cursor: pointer;
}

summary:hover {
  background: #FFFFFF;
}

td.num {
  text-align: right;
}

#gotop,
.goright {
  font-size: 3rem;
  line-height: 3rem;
  padding: 0 0.3rem 0 0.5rem;
  text-decoration: none;
  border-bottom: none;
  opacity: 0.5;
  z-index: 10;
}

#gotop {
  color: #888;
  position: fixed;
  bottom: 0.5rem;
  right: 0rem;
  z-index: 10;
}



/**
 * Welcome desk
 */
/** frames */
body.split {
  overflow-y: hidden;
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
}

#header {
  padding: 5px 2px 0 2px;
  position: relative;
  height: 68px;
  margin: 0;
  width: 100%;
  overflow: hidden; /* scroll pb */
  /* check #win top */
}

#win {
  top: 68px;
  /* check #header height */
  position: absolute;
  width: 100%;
  bottom: 0px;
  display: flex;
  flex-direction: row;
}

#header .logo {
  position: absolute;
  top: 0;
  z-index: 2;
}

#header .base {
  position: absolute;
  bottom: 0;
  left: 75px;
  font-style: italic;
  font-size: 23px;
}

#header .base mark {
  font-style: normal;
  font-size: 16px;
  padding: 0 3px;
  margin-left: 10px;
  border-color: #FFF;
}

#header .base mark a {
  color: red;
}

#header .base mark a:hover {
  color: red;
}

#tabs {
  margin-top: 3px;
}

#tabs button,
#tabs a {
  color: #000;
  background: transparent;
  font-weight: bold;
  font-size: 11px;
  line-height: 100%;
  text-transform: uppercase;
  padding: 5px 5px 5px 5px;
  border-style: solid;
  border-width: 1px;
  margin-right: 2px;
  cursor: pointer;
}

#tabs a:hover {
  text-decoration: none;
}

#tabs a.comparer {
  display: none;
}

body.view_doc #tabs a.comparer {
  display: inline;
}

#alert {
  font-weight: bold;
  color: red;
  margin-left: 200px;
  font-size: 150%;
  font-variant: small-caps;
  line-height: 95%;
}

#panChange {
  background-color: #FFF;
  margin-left: 2em;
  color: #339;
}

/** The split gutters */
.gutter-horizontal {
  width: 3px;
  cursor: col-resize;
  height: 100%;
  border-style: none;
}

.gutter-vertical {
  height: 3px;
  cursor: ns-resize;
  border-style: none;
  text-align: center;
}

.gutter.but {
  font-size: 10px;
  position: relative;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
}

.gutter.but:hover {
  background: #CCCCD5;
  color: #FFFFFF;
}

.gutter.but.closed {
  background: #888;
  color: #FFFFFF;
}

.gutter.but.closed:hover {
  background: #FFFFFF;
  color: #000;
}

.gutter.but.horizontal {
  margin-left: -2px;
  padding-top: 2em;
  padding-bottom: 2em;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.gutter.but.horizontal:after {
  content: '▶';
}

.gutter.but.horizontal.closed:after {
  content: '◀';
}

.gutter.but.horizontal.first:after {
  content: '◀';
}

.gutter.but.horizontal.first.closed:after {
  content: '▶';
}

.gutter.but.vertical {
  padding-left: 2em;
  padding-right: 2em;
  bottom: 12px;
  line-height: 0;
  height: 6px;
}

.gutter.but.vertical.first:after {
  content: '▲';
}

.gutter.but.vertical.first.closed {
  bottom: 6px;
}

.gutter.but.vertical.first.closed:after {
  content: '▼';
}

.gutter.but.vertical.last:after {
  content: "▼";
}

.gutter.but.vertical.last.closed {
  bottom: 12px;
}

.gutter.but.vertical.last.closed:after {
  content: '▲';
}

/**
 * Bibliography of the corpus
 */
body.corpus {
  padding: 0;
}

body.corpus caption {
  text-align: left;
}

body.corpus main {
  padding: 1rem;
}

td.title a {
  text-decoration: none;
  display: block;
}

td.title a:hover {}

#filter label {
  display: inline-block;
  width: 4rem;
}

td.num {
  text-align: right;
}

#corpora {
  background-color: #FFF;
  margin-bottom: 0;
  padding: 1px 5px 2px 5px;
  height: 1.8rem;
}

#corpora ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#corpora ul li {
  padding: 1px 5px;
  border: 1px;
  color: #FFF;
  background-color: #CCC;
}

#corpora ul li {
  float: right;
  margin: 1px 5px 0 0;
}

#corpora ul li button {
  cursor: pointer;
  border: none;
  background: inherit;
  color: inherit;
}

#corpora ul li button:hover {
  background-color: #FFF;
  color: #CCC;
}

#corpora ul li b {
  cursor: pointer;
}

#corpora ul li b:hover {
  background-color: #FFF;
  color: #CCC;
}

/**
 * Facets
 */
body.facet {}

body.facet main {
  padding: 1rem 0.2rem 1rem 0.5rem;
}

body.facet div.term {
  white-space: nowrap;
}

body.facet h4 .occs,
.term .occs {
  display: inline-block;
  width: 2rem;
  text-align: right;
  margin-right: 1rem;
}

body.facet .active {
  background-color: #FFF;
  font-weight: bold;
}

/**
 * Document view
 */
body.document {
  padding-top: 2rem;
}

body.document main {
  background-color: #FFFFFF;
  margin-bottom: 10rem;
  max-width: 55rem;
}

.goright {
  float: right;
}

body.comp #qform,
body.document #qform {
  text-align: center;
}

body.document #q {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#n {
  text-align: center;
  width: 4rem;
}

header.biblbar {
  top: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 10;
  height: 1.5rem;
  overflow: hidden;
  display: flex;
}

header.biblbar a.bibl {
  display: block;
  margin-left: 2rem;
  text-decoration: none;
}

header.biblbar a.back {
  text-decoration: none;
  font-size: 2rem;
  line-height: 1.7rem;
}

header.biblbar a.up {
  text-decoration: none;
  font-size: 1.3rem;
  line-height: 1.1rem;
}

table.prevnext {
  border-collapse: collapse;
  width: 100%;
}

table.prevnext td.next,
table.prevnext td.prev {
  width: 1%;
}

table.prevnext td {
  vertical-align: middle;
}

table.prevnext td.bibl a {
  display: block;
  padding: 0px 1rem 4px 1rem;
  height: 1.5rem;
  overflow: hidden;
  text-align: center;
}

body.comp div.heading,
body.document div.heading {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

body.comp div.heading span.surname,
body.document div.heading span.surname {
  font-weight: bold;
}

table.prevnext a:hover {
  text-decoration: none;
}

body.document header.bibl a.but,
button.magnify,
a.reset {
  font-size: 1.5rem;
  border-radius: unset;
  border: none !important;
  background: transparent;
}

button.magnify:hover,
a.reset:hover {
  color: #000;
}

#qform #corpus button {
  color: inherit;
  font-size: inherit;
  font-weight: bold;
}

input.start {
  width: 6ex;
}

a.prev,
a.next {
  font-size: 1.5rem;
}

header.biblbar a.prev {
  border-right: 2px transparent inset;
}

header.biblbar a.prev:hover {
  border-right: #000 2px inset;
}

header.biblbar a.but:hover {
  background: #FFFFFF;
}

/* Occurrences rules */
#rulhi,
#ruloccs {
  top: 2rem;
  bottom: 0.5rem;
  width: 1rem;
  z-index: 4;
}

#rulhi a,
#ruloccs a {
  display: block;
  text-decoration: none;
  border-bottom: none;
  color: white;
  width: 1rem;
  font-size: 1px;
  height: 6px;
  margin-top: -3px;
  border-radius: 5px;
}

#rulhi a:hover,
#ruloccs a:hover {
  text-decoration: none;
}

#ruloccs {
  position: absolute;
  right: -2rem;
}

#ruloccs div {
  /* fixed container fro the ticks */
  position: fixed;
  top: 2.5rem;
  bottom: 0.5rem;
  width: 1rem;
}

#ruloccs a {
  position: absolute;
}

#rulhi {
  position: fixed;
  border-width: 2px;
  border-top-style: solid;
  border-bottom-style: solid;
}

#rulhi a {
  position: absolute;
}

body.left #rulhi {
  right: 0.2rem;
  border-left-style: solid;
}

body.right #rulhi {
  left: 0.2rem;
  border-right-style: solid;
}

body.right .goright {
  display: none;
}

body.right .biflex {
  margin-left: auto;
}

/**
 * comparison
 */
body.comparer iframe {
  border: none;
  margin: 0;
  padding: 0;
  width: 50%;
  top: 0px;
  bottom: 0px;
  height: 100%;
  position: absolute;
}
body.comparer #left {
}

body.comparer #right {
  right: 0 ;
}

body.left {
  background: top 2rem left 10px / 195% auto fixed no-repeat url("img/obvil.svg");
  background: top 2rem left 10px / 195% auto fixed no-repeat url("img/obvil.svg"),
    linear-gradient(90deg, hsla(32, 8%, 54%, 0.5), 5%, rgba(255, 255, 255, 1), 25%, #FFF);
}

body.right {
  background: top 2rem right 10px / 195% auto fixed no-repeat url("img/obvil_r.svg");
  background: top 2rem right 10px / 195% auto fixed no-repeat url("img/obvil_r.svg"),
    linear-gradient(270deg, hsla(32, 8%, 54%, 0.5), 5%, rgba(255, 255, 255, 1), 25%, #FFF);
}

html.right {
  scrollbar-color: #faf9f6 hsla(32, 8%, 54%, 0.5);
}

body.right::-webkit-scrollbar {
  background: hsla(32, 8%, 54%, 0.5);
}

body.right::-webkit-scrollbar-thumb {
  background: #faf9f6;
}

body.help {
  background-image: url("img/obvil_help.svg");
  background-position: top center;
  background-size: auto 200%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

body.comp.left main {
  padding-left: 2rem;
  padding-right: 2.5rem;
}

body.comp.right main {
  padding-left: 2.5rem;
  padding-right: 2rem;
}

body.comp {
  padding-top: 1.6rem;
}

body.comp a.pb,
body.comp .marginnote {
  display: none;
}

body.comp #text, ul.legend {
  font-size: 112%;
  color: #666;
}

.biflex {
  width: calc(100% - 1rem);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem 1rem 1rem;
}

.keywords {}

#text a, .keywords a {
  cursor: pointer;
}

#text a {
  color: #000;
}

#text a:hover, .keywords a:hover {
  color: #000;
  text-decoration: none;
  outline: 1px rgb(234, 91, 12) solid;
}

.keywords label {
  font-weight: bold;
  cursor: pointer;
}

a.delete {
  font-size: 2rem;
  line-height: 0.7rem;
  vertical-align: bottom;
}

body.document .goright {
  position: fixed;
  right: 1rem;
}


a.delete:hover,
.goright:hover {
  text-decoration: none;
  outline: unset;
  background-color: #FFF;
  border: none;
}

a.tokspec {
  color: rgb(234, 91, 12);
}

a.tokshared {
  color: #000;
}

a.tk1, a.tokhi {
  background-color: rgba(26, 26, 128, 0.2);
  color: #000;
}

a.tk2 {
  background-color: rgba(192, 128, 0, 0.2);
  color: #000;
}

a.tk3 {
  background-color: rgba(0, 128, 192, 0.2);
  color: #000;
}

a.tk4 {
  background-color: rgb(234, 91, 12, 0.2);
  color: #000;
}

a.tk5 {
  background-color: rgba(128, 128, 128, 0.2);
  color: #000;
}

#rulhi a:hover {
  border: 1px solid #000;
}

/*
.em1 {
  font-weight: 300;
}

.em2 {
  font-weight: 300;
}

.em3 {
  font-weight: 400;
}

.em5 {
  font-weight: 600;
}

*/
.em9 {
  font-weight: 700;
}

/**
 * Search results, kwic or snips
 */
body.results main {}

body.results > header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

body.results form {
  text-align: center;
}

article.res {
  margin: 1rem 0;
}

article.res header {
  text-align: left;
  margin-bottom: 0.5rem;
  background-color: #FFF;
  line-height: 110%;
  padding: 1px 0.5rem;
}

article.res header small {
  float: left;
  margin: 0.3ex 1ex 0 0;
}

article.res header a {
  display: block;
  color: rgb(120, 105, 101);
}

article.res header a:hover {
  text-decoration: none;
}

#chapters mark,
div.line a {
  font-weight: bold;
}

article.res div.line a:hover {
  text-decoration: none;
  color: #000;
}

article.res .surname {
  font-variant: small-caps;
  font-size: 115%;
  font-weight: bold;
}

article.res .title {
  font-style: italic;
}

article.hit p.frags {
  line-height: 130%;
  margin: 0.5ex 0 0 2em;
  text-indent: 0;
  padding: 0;
  text-align: justify;
}

article.res mark {
  background: #FFF;
  font-weight: bold;
}

#chapters > a {
  color: #000;
  display: block;
  text-align: justify;
  margin: 5px 0;
  padding: 0 0.5rem;
}

#chapters > a:hover {
  text-decoration: none;
}

#chapters .more {
  margin-left: auto;
  margin-right: auto;
  width: 3rem;
  font-size: 3rem;
}

#chapters span.title {
  font-style: italic;
}

#chapters .surname {
  font-variant: small-caps;
  font-size: 115%;
  font-weight: bold;
}

/**
 * Word cloud
 */
body.cloud {
  background: #FFFFFF;
  padding: 25px;
}

body.cloud #filter {
  top: 0;
  right: 0;
  z-index: 10;
  position: absolute;
}

#wordcloud2 {
  height: 100%;
}

#wordcloud2 a {
  color: #887;
  text-decoration: none;
  line-height: 0.8em;
  /* padding: 0 0.5ex; */
}

#wordcloud2 .SUB {
  color: #000033;
}

#wordcloud2 .ADJ {}

#wordcloud2 .VERB {}

#wordcloud2 .ADV {}

#wordcloud2 .NAME {
  color: #FF0000;
  font-family: serif;
}

/**
 * Dygraph (chronology)
 */
/** Chart in chrono */
body.chrono {
  overflow: hidden;
  /*
  padding-bottom: 1rem;
  */
}

body.chrono form {
  position: absolute;
  z-index: 20;
  right: 0;
}

#chart {
  font-family: sans-serif;
  width: 99%;
  height: 100%;
  cursor: pointer;
}

.dygraph-annotation, .dygraph-legend {
  overflow: hidden
}

.dygraph-legend {
  background-color: rgba(255, 255, 255, 0.3) !important;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  line-height: 100%;
  left: 4em !important;
  top: 0.5rem !important;
  font-size: 17px;
  z-index: 10;
  width: 250px;
  background: #fff;
  line-height: normal;
  text-align: left;
  padding: 4px;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 4px 4px 4px #888;
}

.dygraph-legend-dash, .dygraph-legend-line {
  display: inline-block;
  position: relative;
  bottom: .5ex;
  height: 1px;
  border-bottom-width: 2px;
  border-bottom-style: solid
}

.dygraph-legend-line {
  padding-left: 1em
}

.dygraph-annotation, .dygraph-roller {
  position: absolute;
  z-index: 10
}

.dygraph-default-annotation {
  border: 1px solid #000;
  background-color: #fff;
  text-align: center
}

.dygraph-axis-label {
  z-index: 10;
  line-height: normal;
  overflow: hidden;
  color: #000
}

.dygraph-axis-label-x {
  font-size: 12pt;
}

.dygraph-title {
  color: #000;
  padding-top: 3px;
  font-weight: 100;
  z-index: 10;
  text-align: center
}

.dygraph-label {
  color: #999;
  font-size: 25px;
}

.dygraph-xlabel {
  text-align: center
}

.dygraph-label-rotate-left {
  text-align: center;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg)
}

.dygraph-label-rotate-right {
  text-align: center;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg)
}

/**
 * Old stuf to refactor
 */
nav.menu {
  background-color: #ffffff;
  left: 0;
  padding: 0 1ex;
  position: absolute;
  right: 0;
  top: 0;
  font-family: sans-serif;
}

nav a {
  color: #999;
  text-decoration: none;
}

div.text {
  margin: 1em 2em 0 2em;
  max-width: 60ex;
}

section:after, section:before, .bar:after, .bar:before {
  content: " ";
  visibility: hidden;
  display: block;
  clear: both;
  height: 0;
}

/*
table.scroll tbody{display:block; height:200px; overflow-y:auto;}
table.scroll thead td, table.scroll thead th {float:left;}
*/
table.scroll tbody th {
  border-top: 20px solid #f3f2ec;
}

table.lem {
  font-family: sans-serif;
  border-collapse: collapse;
  border: 2px solid #FFFFFF;
}

table.lem td {
  padding: 0 1ex;
  border-top: 1px solid #FFFFFF;
}

.board {
  color: rgba(0, 0, 0, 0.7);
  height: 80%;
  bottom: 0;
  font-size: 18px;
  text-align: center;
  position: relative;
}

.board .l, .board .c, .board .r {
  display: block;
  position: absolute;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 1ex;
  z-index: 2;
}

.board .l {
  text-align: left;
  border-left: 1px solid #F00;
  margin-right: auto;
}

.board .c {
  text-align: center;
  transform: translate(-50%, 0);
}

.board .r {
  text-align: right;
  border-right: 1px solid #F00;
  margin-left: auto;
}

.rule {
  border-bottom: 1px solid #000000;
  position: sticky;
  top: 10px;
  width: 100%;
  clear: both;
}

.rule .title {
  font-size: 25px;
  color: rgba(255, 0, 0, 0.5);
  margin: 2em 1em;
}

.rule .l, .rule .c, .rule .r {
  position: absolute;
  background: transparent;
  padding: 0 0.5ex;
}

.rule .r {
  text-align: right;
  border-right: 1px solid #000;
}

.rule .l {
  text-align: left;
  border-left: 1px solid #000;
}

.rule .c {
  text-align: center;
}

.grid, .grid div {
  position: absolute;
  border-left: 1px dotted rgba(0, 0, 0, 0.2);
  border-right: 1px dotted rgba(0, 0, 0, 0.2);
  height: 100%;
}

.bar {
  text-align: left;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 1;
}

table.conc {
  font-family: sans-serif;
  color: #666;
  border-spacing: 2px;
  background-color: #EEEEEE;
}

.conc td, .conc th {
  padding: 0;
}

td.left {
  text-align: right;
}

.conc b {}

.conc p {
  color: #666;
}

div.conc {
  width: 100ex;
  text-align: left;
}

.conc mark, .conc .line {
  color: #000;
  background-color: #FFFFFF;
  padding: 2px 1ex;
  font-size: 110%;
  display: block;
  text-align: center;
}

.conc i {
  font-style: normal;
  color: red;
}

.conc p {
  margin: 0.5ex 0;
  padding: 0.5ex 0;
  border-bottom: 1px solid #FFFFFF;
}

.bg-10 {
  background: #A00 !important;
  color: #FFF !important;
}

.bg-9 {
  background: #C00 !important;
  color: #FFF !important;
}

.bg-8 {
  background: #F00 !important;
  color: #FFF !important;
}

.bg-7 {
  background: #F22 !important;
  color: #FFF !important;
}

.bg-6 {
  background: #F44 !important;
  color: #FFF !important;
}

.bg-5 {
  background: #F66 !important;
}

.bg-4 {
  background: #F88 !important;
}

.bg-3 {
  background: #FAA !important;
}

.bg-2 {
  background: #FCC !important;
}

.bg-1 {
  background: #FEE !important;
  color: #000 !important;
}

.bg0 {
  background: #FFF !important;
  color: #000 !important;
}

.bg1 {
  background: #EEF !important;
  color: #008 !important;
}

.bg2 {
  background: #CCF !important;
}

.bg3 {
  background: #AAF !important;
}

.bg4 {
  background: #88E !important;
}

.bg5 {
  background: #66D !important;
}

.bg6 {
  background: #44C !important;
  color: #FFF !important;
}

.bg7 {
  background: #22C !important;
  color: #FFF !important;
}

.bg8 {
  background: #00C !important;
  color: #FFF !important;
}

.bg9 {
  background: #00A !important;
  color: #FFF !important;
}

.bg10 {
  background: #008 !important;
  color: #FFF !important;
}

ul.menu li {
  margin: 0.5ex 0;
  font-size: 150%;
}

#totop {
  position: fixed;
  bottom: 1ex;
  right: 1ex;
  color: rgba(0, 0, 0, 0.3);
}

input.off {
  background-color: red;
}

input.on {
  background-color: #00CC00;
}

/**
 * Word nets
 */
svg.scatter {
  width: 100%;
  background: #FFFFFF;
}

svg.scatter line.dot {
  stroke: #000;
  stroke-width: 10px;
  stroke-linecap: round;
  cursor: pointer;
}

svg.scatter .dot {}

svg.scatter .dot circle {
  stroke: #FFF;
  fill: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

svg.scatter .dot text {
  font-size: 0pt;
}

svg.scatter .dot:hover text {
  font-size: 100pt;
}

svg.scatter .sub circle {
  fill: rgba(0, 0, 128, 0.3)
}

svg.scatter .name circle {
  fill: rgba(0, 128, 0, 0.2)
}

svg.scatter .verb circle {
  fill: rgba(255, 0, 0, 0.2)
}

svg.scatter .adj circle {
  fill: rgba(0, 92, 128, 0.2)
}

svg.scatter .adv circle {
  fill: rgba(255, 128, 0, 0.2)
}

div.scatter {
  width: 100%;
  padding: 3rem 2rem 3rem 3.5rem;
  background-color: #FFFFFF;
  position: relative;
}

div.scatter .title {
  position: absolute;
  z-index: 2;
  top: 2rem;
  left: 25%;
  padding: 5px;
  background-color: #FFFFFF;
  color: #888;
  font-size: 200%;
  font-weight: bold;
}

div.scatter .xleg {
  position: absolute;
  z-index: 2;
  bottom: 0.5rem;
  right: 1rem;
}

div.scatter .yleg {
  position: absolute;
  z-index: 2;
  top: 0.5rem;
  left: 1rem;
}

div.scatter div.legend {
  position: absolute;
  top: 3rem;
  right: 3rem;
  border: 1px #CCC solid;
  background: rgb(255, 255, 255, 0.8);
  z-index: 5;
}

div.scatter .dots {
  position: relative;
  height: 600px;
}

div.scatter .ygrid {
  position: absolute;
  border-bottom: 0.5px #CCCCCC solid;
  font-size: 10pt;
  color: #999;
  line-height: 90%;
  left: -2.5rem;
  right: 0;
  padding-left: 0.5rem;
}

div.scatter .xgrid {
  position: absolute;
  border-left: 0.5px #CCCCCC solid;
  top: -1rem;
  bottom: -1.5rem;
  font-size: 10pt;
  color: #999;
  line-height: 90%;
}

div.scatter .xgrid span {
  bottom: 0%;
  position: absolute;
}

div.scatter .xgrid.last {
  border-right: 2px #CCC solid;
}

div.scatter .xgrid.first {
  border-left: 2px #CCC solid;
}

div.scatter .xgrid.mod10 {
  border-left: 1px #000 solid;
}

div.scatter .xgrid.mod10 span {
  font-weight: bold;
}

div.scatter .xgrid.even span {
  display: none;
}

div.scatter div.dot {
  position: absolute;
  border: 1px transparent solid;
  cursor: default;
  padding: 0 3px 0 0;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}

div.scatter div.dot:hover {
  z-index: 9;
  border: 1px #CCC solid;
  background-color: rgb(255, 255, 255, 0.8);
}

div.scatter div.dot span {
  display: none;
}

div.scatter div.dot:hover span {
  display: inline;
}

div.scatter div.dot b {
  color: rgba(128, 128, 128, 0.2);
  font-size: 200%;
  line-height: 40%;
  vertical-align: middle;
  font-family: sans-serif;
}

div.scatter div.sub b {
  color: rgba(0, 0, 128, 0.3)
}

div.scatter div.name b {
  color: rgba(0, 128, 0, 0.2)
}

div.scatter div.verb b {
  color: rgba(255, 0, 0, 0.2)
}

div.scatter div.adj b {
  color: rgba(0, 128, 255, 0.2)
}

div.scatter div.adv b {
  color: rgba(255, 128, 0, 0.2)
}

div.scatter div.legend div.dot {
  position: static;
  transform: none;
}
