target/
work/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
.vscode
.settings/
.classpath
.project
.~*
test/src/java/com/github/oeuvres/alix/fr/affix_miner_java_prefix_suffix_stem_extraction_from_lemma_udpos_count.java
test/stemming/
*.bak
