* text=auto
* text eol=lf

# Java sources
*.gradle        text diff=java
*.gradle.kts    text diff=kotlin
*.java          text diff=java
*.kt            text diff=kotlin
*.groovy        text diff=java
*.scala         text diff=java

# These files are text and should be normalized (Convert crlf => lf)
*.css           text diff=css
*.csv           text
*.df            text
*.htm           text diff=html
*.html          text diff=html
*.js            text
*.mjs           text
*.cjs           text
*.jsp           text
*.jspf          text
*.jspx          text
*.properties    text
*.rdfs          text
*.rng           text
*.sass          text
*.scss          text diff=css
*.tag           text
*.tagx          text
*.tld           text
*.tsv           text
*.xml           text

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.db            binary
*.class         binary
*.dll           binary
*.docx          binary
*.ear           binary
*.jar           binary
*.jks           binary
*.jpg           binary
*.odt           binary
*.odg           binary
*.pdf           binary
*.png           binary
*.so            binary
*.war           binary
*.xslx          binary
*.xlsx          binary
*.woff          binary
*.woff2         binary
*.zip           binary

# Common build-tool wrapper scripts ('.cmd' versions are handled by 'Common.gitattributes')
mvnw            text eol=lf
gradlew         text eol=lf

# Specific Windows
*.bat text eol=crlf

# truly binary and should not be modified.

