<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    id="obvil" 
    version="3.0" 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_0.xsd"
  >
  <display-name>Obvil</display-name>
  <description>Corpus explorer</description>
  <welcome-file-list>
   <welcome-file>index.html</welcome-file>
   <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>/tags/obvil</taglib-uri>
      <taglib-location>/WEB-INF/obvil.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <servlet-name>obvil</servlet-name>
    <servlet-class>obvil.web.Obvil</servlet-class>
  </servlet>
  <!-- Override default servlet, limit to static resources -->
  <servlet-mapping>
     <servlet-name>default</servlet-name>
     <url-pattern>/static/*</url-pattern>
  </servlet-mapping>
  <!-- override default jsp, limit to a folder -->
  <servlet-mapping>
    <servlet-name>jsp</servlet-name>
    <url-pattern>/jsp/*</url-pattern>
  </servlet-mapping>
  <!-- The URL mapping servlet -->
  <servlet-mapping>
    <servlet-name>obvil</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>
